<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="c:/logs/" />

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
		<file>${HACKATHON_LOGDIR}/debug.log</file>
		<append>false</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

	</appender>
<!-- 	<appender name="JOCO_LOG" class="ch.qos.logback.core.FileAppender"> -->
<!-- 		<file>${DEV_HOME}joco.log</file> -->
<!-- 		<append>false</append> -->
<!-- 		<filter class="ch.qos.logback.core.filter.EvaluatorFilter"> -->
<!-- 			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator"> -->
<!-- 				<marker>JOCO</marker> -->
<!-- 			</evaluator> -->
<!-- 			<OnMatch>ACCEPT</OnMatch> -->
<!-- 			<OnMismatch>DENY</OnMismatch> -->
<!-- 		</filter> -->
<!-- 		<encoder> -->
<!-- 			<pattern>%d{HH:mm:ss.SSS} - %msg%n -->
<!-- 			</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

	<root level="debug">
		<appender-ref ref="FILE-AUDIT" />
<!-- 		<appender-ref ref="JOCO_LOG" /> -->
	</root>

</configuration>